.tab-countdown__result {
  width: 600px;
}

.tab-countdown__timer {
  font-size: 28px;
  color: #00CED1;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  border: 2px solid #aedada;
  border-radius: 5px;
}